/build_*/
/node_modules/
/vendor/
.DS_Store
.cache

/source/assets/build/*
/source/service-worker.js
/source/workbox-*.js
/source/*.js.map

test.sh
bin/upload-prod.sh
bin/upload-stage.sh

.env.yaml

cache