// Your custom blog styles here

// CSS Vars
:root {
  --color-primary: theme('colors.orange.400');
  --color-primary-shade: theme('colors.white');
  --color-primary-complement: #140A02;
  --color-primary-complement-shade: theme('colors.black');
  --color-secondary: theme('colors.orange.600');
  --color-secondary-shade: theme('colors.black');
  --color-secondary-complement: theme('colors.white');
}

/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --color-primary: color(display-p3 0.995 0.686 0.289);
    --color-secondary: color(display-p3 1 0.598 0.085);
  }
}

.darkmode-only {
  display: block;
}

.lightmode-only {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: theme('colors.orange.600');
    --color-primary-shade: theme('colors.black');
    --color-primary-complement: theme('colors.white');
    --color-primary-complement-shade: theme('colors.white');
    --color-secondary: theme('colors.orange.400');
    --color-secondary-shade: theme('colors.white');
    --color-secondary-complement: #140A02;
  }

  .darkmode-only {
    display: none;
  }

  .lightmode-only {
    display: block;
  }

  /* Display-P3 color, when supported. */
  @supports (color: color(display-p3 1 1 1)) {
    :root {
      --color-primary: color(display-p3 1 0.598 0.085);
      --color-secondary: color(display-p3 0.995 0.686 0.289);
    }
  }
}


.alert {
  @apply .bg-primary;
  @apply .my-4;
  @apply .p-3;
  @apply .rounded;
  @apply .text-primary-complement-shade;

  &::before {
    content: "Note: ";
    @apply .font-bold;
    @apply .capitalize;
  }

  a {
    @apply .text-primary-complement;
    @apply .underline;
  }
}
