@use 'sass:math';

@media (max-width: theme('screens.lg')) {
  .nav-menu {
    @apply absolute;
    @apply bg-primary-complement-shade;
    @apply inset-x-0;
    @apply pb-2;
    @apply pt-6;
    @apply px-2;
    @apply shadow;
    @apply w-auto;
    top: theme('spacing.24');
    @apply border-b-2;
    @apply border-primary;
  }

  .nav-menu__item {
    @apply block;
    @apply no-underline;
    @apply mb-4;
    @apply mt-0;
    @apply text-primary-shade;
    @apply border-b;
    @apply border-primary;
  }
}

.turbolinks-progress-bar,
#instantclick-bar {
  @apply bg-primary;
}

.sr-only {
}

// Hamburger menu button
button#menu-toggle {
  $size: 2.5rem; // theme('spacing.10'); //
  $margin: math.div($size, 7);
  $width: $size;
  $border_size: 2px;
  height: $size;
  position: relative;
  transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  cursor: pointer;
  flex-direction: column;

  div {
    @apply rounded;
    @apply bg-primary-complement;
    border: $border_size solid var(--color-primary-complement);
    display: block;
    height: 0px;
    position: relative;
    margin-bottom: 0.15rem;
    margin-top: 0.15rem;
    transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
    width: math.div(4,7) * $size;

    &:nth-child(1) {
      // we move this one from center (with no top value) up
      // pixel-perfect on one device - welp.
      // top: 1px; // better not.

      &::before {
        animation: ball 1.5s linear infinite;
        border: $border_size solid var(--color-primary-complement);
        content: '';
        display: block;
        opacity: 0;
        position: relative;
        top: 1px;
      }
    }

    &:nth-child(2) {
      // we center this one with no top value
    }

    &:nth-child(3) {
      // we move this one from center (with no top value) down
    }
  }

  &.clicked {
    transition-delay: 100ms;
    transform: scale(1.1);

    div {
      margin-top: initial;
      margin-bottom: initial;
      position: absolute;
      top: initial;

      &:nth-child(1) {
        transform: rotate(-33deg);

        &::before {
          background: transparent;
          border-radius: 50%;
          height: 2px;
          opacity: 1;
          transition: opacity 600ms cubic-bezier(0.61, 0.01, 0.42, 1);
          width: 2px;
        }
      }

      &:nth-child(2) {
        transform: rotate(90deg);
      }

      &:nth-child(3) {
        transform: rotate(33deg);
      }

      animation: atom 350ms linear 1;
      background: transparent;
      border-radius: 50%;
      border: $border_size solid var(--color-primary-complement);
      height: math.div(1, 3) * $size;
      width: math.div(2, 3) * $size;
    }
  }

  &:active {
    div {
      animation: division 300ms linear 1;
      border-radius: 0%;
      border: $border_size solid var(--color-primary-complement);
      height: 0px;
      top: 0px;
      width: math.div(25, 30) * $size;

      &:nth-child(1) {
        transform: rotate(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transition: all 200ms;
        width: 0px;
      }

      &:nth-child(3) {
        opacity: 0;
        transition: all 200ms;
        transform: rotate(45deg);
      }
    }
  }
}

#main-nav-menu {
  z-index: 999;
}

@media (prefers-reduced-motion: reduce) {
  div {
    animation: none !important;
  }
}

@keyframes atom {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes division {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes ball {
  // rightmost
  0% {
    left: -20%;
    top: 10%;
  }

  13% {
    left: 10%;
    top: -35%;
  }

  // topmost
  25% {
    left: 45%;
    top: -50%;
  }

  37% {
    left: 80%;
    top: -20%;
  }

  // leftmost
  50% {
    left: 98%;
    top: 18%;
  }

  63% {
    left: 80%;
    top: 50%;
  }

  // bottommost
  75% {
    left: 45%;
    top: 80%;
  }

  87% {
    left: 0%;
    top: 60%;
  }

  // rightmost again
  100% {
    left: -20%;
    top: 10%;
  }
}
